.about-us-container {
    position: relative; /* Set position relative to contain absolute positioned text */
    height: 400px;
  }
  
  .faded-image {
    width: 100%;
    height: 100%;
    opacity: 0.2; /* Adjust the opacity value as needed */
  }
  
  .text-overlay {
    position: absolute; /* Position the text absolutely */
    top: 50%; /* Position it in the middle vertically */
    left: 50%; /* Position it in the middle horizontally */
    transform: translate(-50%, -50%); 
  }
  .main-text-body {
    font-size: 30px;
    font-weight: 900;
    color:#5D79E2
  }

  .text{
    color: rgb(62, 63, 63);
    /* width:450px */
    max-width: 450px;
  }

  @media (max-width: 568px) {
    .about-us-container {
        position: relative; /* Set position relative to contain absolute positioned text */
        height: 550px;
      }
}